# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
baidu_weixin/miniprogram/project.config.json
baidu_weixin/miniprogram/project.config.json
baidu_weixin/miniprogram/project.config.json
baidu_weixin/miniprogram/project.config.json
miniprogram_dev/baidu2weixin/ui/animation-view/animation-view.wxml
miniprogram_dev/li/li.js
miniprogram_dev/li/li.wxml
miniprogram_dev/baidu2weixin/ui/icon/icon.wxml
miniprogram_dev/baidu2weixin/fix.wxss
miniprogram_dev/app.json
miniprogram_dev/baidu2weixin/OnekitApp.js
miniprogram_dev/baidu2weixin/OnekitBehavior.js
miniprogram_dev/baidu2weixin/OnekitComponent.js
miniprogram_dev/baidu2weixin/OnekitPage.js
miniprogram_dev/baidu2weixin/ui/icon/icon.js
miniprogram_dev/baidu2weixin/ui/navigator/navigator.js
miniprogram_dev/baidu2weixin/ui/rtc-room-item/rtc-room-item.js
miniprogram_dev/baidu2weixin/ui/rtc-room/rtc-room.js
miniprogram_dev/baidu2weixin/ui/tab-item/tab-item.js
miniprogram_dev/baidu2weixin/ui/tabs/tabs.js
miniprogram_dev/baidu2weixin/ui/view/view.js
miniprogram_dev/package.json
miniprogram_dev/project.config.json
miniprogram_dev/yang/yang.js
miniprogram_dev/yang/yang.wxml
miniprogram_dev/li/lottie_example_one.json.js
miniprogram_dev/miniprogram_npm/lottie-miniprogram/index.d.ts
miniprogram_dev/miniprogram_npm/lottie-miniprogram/index.js
